.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
#navber-h1{
    color: rgb(218, 117, 99);
}
.navbar-links{
    display: flex;
    gap: 20px;

}
.navbar-links{
    font-size: 22px;
    text-transform: capitalize;
    column-gap: 30px;
    
}
.navbar > .navbar-links > a{
    column-gap: 20px;
}
#contact{
    padding: 5px 20px;
    background-color: rgb(216, 104, 104);
    font-size: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 5px 6px 8px black;
}
.landingpage{
    width: 50%;
    display: flex;
}
.landingpage > img {
    width: 50%;
    
}
.landingpageText > h1{
    font-size: 55px;
    width: 40%;
}
.landingpageText > p{
    font-size: 30px;
    width: 40%;
}
.landingpageBtns{
    display: flex;
    column-gap: 50px;
}
.landingpageText > .landingpageBtns > p{
    background-color: blanchedalmond;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 9px black;
}
